body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #885df1;
}
.weather-app {
  margin: 60px auto;
  min-width: 320px;
  max-width: 600px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

#search-input {
  margin-right: 12px;
  padding: 20px;
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 4px;
  font-size: 16px;
  line-height: 1;
  background: #885df1;
  color: white;
  padding: 20px;
  border-radius: 4px;
  border: none;
}
.search-button:hover {
  background: #6f46d5;
  transition: all 150ms ease-in-out;
}
main {
  padding: 30px 0;
}
.current-temperature {
  font-size: 48px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
#current-city {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 1200;
  margin: 0;
}
.current-details {
  color: #a1a1a1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-temperature {
  display: flex;
}
.current-temperature-icon {
  width: 100px;
  height: 100px;
}
.current-temperature-value {
  font-size: 72px;
  font-weight: bold;
  line-height: 100px;
}
.current-temperature-unit {
  margin-top: 10px;
  font-size: 28px;
  top: -32px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.weather-forecast-date {
  text-align: center;
  color: #a1a1a1;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 36px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 6px;
}

.current-details strong {
  color: #f65282;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  font-size: 14px;
  padding-top: 12px;
  padding: 30px 0 0 0;
  color: rgba(39, 33, 66, 0.4);
}
